<div class="d-flex align-items-center justify-content-center main-container">
  <div class="card main-card">
    <h2 class="d-flex align-items-center justify-content-center">
      Cron Builder
    </h2>
    <mat-tab-group>
      <mat-tab label="Minutes"> Minutes </mat-tab>
      <mat-tab label="Hourly"> Hourly </mat-tab>
      <mat-tab label="Daily">Daily </mat-tab>
      <mat-tab label="Weekly">Weekly</mat-tab>
      <mat-tab label="Monthly"> Monthly </mat-tab>
      <mat-tab label="Yearly"> Yearly</mat-tab>
    </mat-tab-group>
  </div>
</div>
